* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 40px;
    color: #fff;
}

header p {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
}

header h2 {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

button {
    display: inline-block;
    width: 90%;
    padding: 15px;
    background-color: #87CEEB;
    color: rgb(97, 90, 90);
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

button:hover {
    background-color: #539bb7;
}

select {
    display: block;
    width: calc(90% - 40px);
    padding: 10px;
    margin: 15px auto;
    border: 2px solid #87CEEB;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

select:focus {
    outline: none;
    border-color: #87CEEB;
}

#songResult {
    margin-top: 30px;
}

#songResult img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#songResult h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#songResult p {
    font-size: 18px;
    margin-bottom: 15px;
}

#songResult a {
    display: inline-block;
    width: 90%;
    padding: 15px;
    background-color: #87CEEB;
    color: rgb(97, 90, 90);
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#songResult a:hover {
    background-color: #539bb7;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    select {
        font-size: 14px;
        padding: 8px;
    }

    #songResult a {
        font-size: 16px;
        padding: 12px;
    }
}
